@import "buttons";
@import "badge";
@import "links";
@import "icons";

.light-bg {
  background-color: rgba(243, 243, 244, .71);
}

.btn {
  letter-spacing: 0.6px;
  font-size: 1.125rem;
}

.btn-lg {
  font-size: 1.125rem;
}

.btn-sm {
  font-size: 1rem;
}

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $audicus-dark;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid $audicus-blue;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;

  @include hover {
    color: $audicus-dark;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 9px solid $audicus-green;
    margin-bottom: -7px;
  }

  &:focus,
  &.focus {
    text-decoration: none;
    border: none;
    border-bottom:2px solid $audicus-green;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    border-bottom: none;
  }
}

//links
a {
  border-bottom: 1px solid $audicus-blue;
}

//tabs
.nav.nav-tabs.custom-tabs {
  justify-content: space-between;

  a.nav-link {
    color: $audicus-dark;
    font-size: $font-size-base;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0;
    line-height: (24 / 16);

    &:hover, &:active {
      color: $audicus-blue;
    }
  }

  a.nav-link.disabled {
    color: $audicus-mid;

    &:hover, &:active {
      color: $audicus-mid;
      cursor: default;
    }
  }

  a.nav-link.active {
    border-bottom: 2px solid $audicus-green;

    &:hover, &:active {
      color: $audicus-dark;
    }
  }
}

.scroll-wrap {
  height: 250px;
  width: 100px;
  overflow-y: scroll;

  .scroll-content {
    height: 1000px;
    width: 100%;
  }
}

::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f3f3f4;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: $audicus-dark;
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $audicus-dark;
}
