// Background Colors
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}

// Background Colors, Grays
@each $name, $color in $grays {
  .bg-#{$name} {
    background-color: $color !important;
  }
}

// Text Underline
@each $name, $color in $colors {
  .underline-#{$name} {
    border-bottom: 2px solid $color;
  }
}

// Text Underline
@each $name, $color in $colors {
  .text-color-#{$name} {
    color: $color !important;
  }
}

.hr-dot {
  position: relative;
  border-color: transparent;
  background: transparent;

  &:before {
    content: " ";
    position: absolute;
    left: calc(50% - 4px);
    top: 0;
    display: block;
    background-color: transparent;
    width: 6px;
    height: 6px;
    border: solid 2px $color-blue;
    border-radius: 99em;
  }
}
