.audicus-icon-light {
	svg path:first-child {
		fill: $color-white;
	}
}

.icon {
	display: inline-block;

	// Text Colors
	@each $name, $color in $colors {
		&-color-#{$name} {
			color: $color;
			svg, path {
				fill: $color;
			}
		}
	}

	&-radiate {
		animation: pulse 2s 2s infinite ease-in-out;
		box-shadow:
			0 0 0 3em rgba(175, 175, 175, 0.01),
			0 0 0 2em rgba(175, 175, 175, 0.02),
			0 0 0 1em rgba(175, 175, 175, 0.03);

		&:hover {
			animation: none;
			box-shadow:
				0 0 0 3em rgba(175, 175, 175, 0.03),
				0 0 0 2em rgba(175, 175, 175, 0.06),
				0 0 0 1em rgba(175, 175, 175, 0.09);
		}
		&-lg {
			animation: pulseLg 2s 2s infinite ease-in-out;
			box-shadow:
				0 0 0 12em rgba(175, 175, 175, 0.03),
				0 0 0 8em rgba(175, 175, 175, 0.06),
				0 0 0 4em rgba(175, 175, 175, 0.09);

			&:hover {
				animation: none;
				box-shadow:
					0 0 0 12em rgba(175, 175, 175, 0.06),
					0 0 0 8em rgba(175, 175, 175, 0.12),
					0 0 0 4em rgba(175, 175, 175, 0.18);
			}
		}
	}
}

.icon-text {
	width: 1.25rem;
	height: 1.25rem;
}

.icon-circle {
	width: 4.5625em;
	height: 4.5625em;
	border-radius: 100%;
	padding: 1.25rem;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;

	sup {
		display: inline-block;
		position: absolute;
		width: 1rem;
		height: 1rem;
		color: $audicus-white;
		font-size: 0.75rem;
		font-weight: $font-weight-bold;
		background-color: $black;
		text-align: center;
		line-height: 1rem;
		border-radius: 100%;
		top: -2px;
		right: -2px;
	}

	&-sm {
		width: 2.5625rem;
		height: 2.5625rem;
		padding: 0.25rem;
	}

	&-xs {
		width: 2rem;
		height: 2rem;
		padding: 0.25rem;
	}

	&.icon-sm {
		padding: 1.5rem;
	}
	&.icon-lg {
		padding: 2.5rem;
	}
}

.icon-sm {
	svg {
		max-width: 1.5625rem;
	}
}

.icon-lg {
	height: 4.6875rem;
	width: 6rem;
	display: inline-block;

	svg {
		max-height: 100%;
	}
}

.icon-text {
  svg {
    fill: #313146;
  }
}


@keyframes pulse {
  0% {
		box-shadow:
	    0 0 0 3em rgba(175, 175, 175, 0.01),
	    0 0 0 2em rgba(175, 175, 175, 0.02),
	    0 0 0 1em rgba(175, 175, 175, 0.03);
  }
  25% {
		box-shadow:
			0 0 0 3em rgba(175, 175, 175, 0.03),
			0 0 0 2em rgba(175, 175, 175, 0.06),
			0 0 0 1em rgba(175, 175, 175, 0.09);
  }
	50% {
		box-shadow:
			0 0 0 3em rgba(175, 175, 175, 0.01),
			0 0 0 2em rgba(175, 175, 175, 0.02),
			0 0 0 1em rgba(175, 175, 175, 0.03);
	}
}

@keyframes pulseLg {
  0% {
		box-shadow:
	    0 0 0 12em rgba(175, 175, 175, 0.03),
	    0 0 0 8em rgba(175, 175, 175, 0.06),
	    0 0 0 4em rgba(175, 175, 175, 0.09);
  }
  25% {
		box-shadow:
			0 0 0 12em rgba(175, 175, 175, 0.06),
			0 0 0 8em rgba(175, 175, 175, 0.12),
			0 0 0 4em rgba(175, 175, 175, 0.18);
  }
	50% {
		box-shadow:
			0 0 0 12em rgba(175, 175, 175, 0.03),
			0 0 0 8em rgba(175, 175, 175, 0.06),
			0 0 0 4em rgba(175, 175, 175, 0.09);
	}
}
