.btn {
  letter-spacing: 0.6px;
  font-size: 1.125rem;
}

.btn-lg {
  font-size: 1.125rem;
}

.btn-sm {
  font-size: 1rem;
}

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $audicus-dark;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom:2px solid $audicus-blue;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;

  @include hover {
    color: $audicus-dark;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom:2px solid $audicus-green;
  }

  &:focus,
  &.focus {
    text-decoration: none;
    border: none;
    border-bottom:2px solid $audicus-green;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    border-bottom: none;
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @if $enable-rounded {
    border-radius: $border-radius;
  } @else {
    border-radius: 0;
  }
}

//tabs
.page-link {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.6px;

  &:hover {
    background-color: $pagination-hover-bg;
  }
}
