@mixin type-base-heading {
  font-family: $font-heading-family;
  font-weight: 700;
  font-style: normal;
  width: 100%;
}

@mixin type-base-body {
  font-family: $font-body-family;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  letter-spacing: 0.34px;
}

@mixin type-heading {
  @include type-base-heading;
}

@mixin type-subheading {
  @include type-base-body;
}

@mixin type-body {
  font-family: $font-body-family;
  font-weight: 400;
  font-style: normal;
  font-size: rem-calc(18);
  line-height: (29 / 18);
}

// Text Colors
@each $name, $color in $colors {
  .font-color-#{$name} {
    color: $color !important;
  }
}

.heading {
  @include type-heading;

  &-quote {
    quotes: "“" "”";
    position: relative;
    padding-left: 1em;
    margin-left: -1em;

    &::before {
      content: open-quote;
      position: absolute;
      color: $color-blue;
      left: 0;
      top: -0.25em;
      font-size: 2em;
    }
  }
}

.subheading {
  @include type-subheading;
  letter-spacing: 1.09px;
}


// Headings control size only.
h1, .h1 {
  font-size: rem-calc(38);
  line-height: (54 / 38);
}

h2, .h2 {
  font-size: rem-calc(28);
  line-height: (36 / 28);
}

h3, .h3 {
  font-size: rem-calc(22);
  line-height: (27 / 22);
}

h4, .h4 {
  font-size: rem-calc(18);
}

h5, .h5 {
  font-size: rem-calc(16);
}

@include media-breakpoint-up(md) {
  h1, .h1 {
    font-size: rem-calc(48);
    line-height: (54 / 48);
  }

  h2, .h2 {
    font-size: rem-calc(38);
    line-height: (54 / 38);
  }

  h3, .h3 {
    font-size: rem-calc(28);
    line-height: (36 / 28);
  }

  h4, .h4 {
    font-size: rem-calc(22);
    line-height: (27 / 22);
  }

  h5, .h5 {
    font-size: rem-calc(18);
  }
}

strong, .bold {
  font-weight: 600;
}

p {
  @include type-body;
}

.text-bold {
  font-weight: 600;
}
