@mixin type-base-heading {
  font-family: $font-heading-family;
  font-weight: 700;
  font-style: normal;
  width: 100%;
}

@mixin type-base-body {
  font-family: $font-body-family;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

@mixin type-heading {
  @include type-base-heading;
  font-size: rem-calc(48);
  line-height: (54 / 48);
}

@mixin type-subheading {
  @include type-base-body;
  font-size: rem-calc(28);
  line-height: (36 / 28);
}

@mixin type-smallheading {
  @include type-subheading;
}

@mixin type-body {
  font-family: $font-body-family;
  font-weight: 400;
  font-style: normal;
  font-size: rem-calc(18);
  line-height: (29 / 18);
}

// Text Colors
@each $name, $color in $colors {
  .font-color-#{$name} {
    color: $color !important;
  }
}

h1, .h1, .heading {
  @include type-heading;
}

h2, .h2, .subheading {
  @include type-subheading;
}

h3, .h3, .smallheading {
  @include type-smallheading;
}
