// Brand Colors
$audicus-white: #FFFFFF;
$audicus-blue: #17B7E6;
$audicus-orange: #E99938;
$audicus-red: #F24164;
$audicus-green: #96E02D;
$audicus-yellow: #F7D21E;
$audicus-black: #161621;
$audicus-dark: #313146;
$audicus-mid: #858597;
$audicus-light: #CDCDE4;
$audicus-lighter: #f6f6f7;

// Color Synonyms
$color-white: $audicus-white;
$color-blue: $audicus-blue;
$color-orange: $audicus-orange;
$color-red: $audicus-red;
$color-green: $audicus-green;
$color-yellow: $audicus-yellow;
$color-black: $audicus-black;
$color-dark: $audicus-dark;
$color-mid: $audicus-mid;
$color-light: $audicus-light;
$color-lighter: $audicus-lighter;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$product-colors: (
  beige: #ffcd8d,
  bronze: #fe931b,
  black: #161621,
  silver: #afafc6,
  grey: #8e8ea0,
  white: #ffffff,
);

$colors: (
  white: $color-white,
  blue: $color-blue,
  orange: $color-orange,
  red: $color-red,
  green: $color-green,
  yellow: $color-yellow,
  black: $color-black,
  dark: $color-dark,
  mid: $color-mid,
  light: $color-light,
  lighter: $color-lighter,
  gray-100: $gray-100,
  gray-200: $gray-200,
);

$enable-gradients: false;

/*
Fonts
 */
$font-size-base: 1rem;
$font-serif: 'Noto Serif', serif;
$font-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-sans-serif: $font-sans-serif;
$font-size-base: ($font-size-base * 1.125);
$font-size-lg: ($font-size-base * 1.125);
$font-size-sm: ($font-size-base * 1);

//font-weight
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

// Heading
$font-heading-family: $font-serif;

// Body
$font-body-family: $font-sans-serif;
$line-height-base: 1.61;

/*
Vertical Space
 */
$control-height: 2.8125rem;
$button-height: $control-height;
$icon-sm: $control-height;
$icon-lg: $icon-sm * 1.5;

//paginations
$pagination-color: $audicus-mid;
$pagination-bg: $audicus-lighter;
$pagination-border-color: $audicus-light;
$pagination-active-border-color: $audicus-light;
$pagination-padding-x: 0.91rem;
$pagination-padding-y: 0.5rem;
$pagination-line-height: 1.4375rem;
$pagination-hover-bg: $audicus-orange;
$pagination-hover-color: $audicus-white;

//buttons
$btn-padding-y:               0.625rem;
$btn-padding-x:               2.36rem;
$btn-line-height:             1.333;
$btn-font-weight:             $font-weight-bold;
$btn-box-shadow:              none;
$btn-focus-box-shadow:        none;
$btn-disabled-opacity:        1;
$btn-active-box-shadow:       none;

$btn-link-disabled-color:     $audicus-light;

$btn-block-spacing-y:         1.0625rem;

$btn-line-height-lg: 1.35;
$input-btn-padding-y-lg: 0.75rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           2px;
$btn-border-radius-lg:        2px;
$btn-border-radius-sm:        2px;

// Cards
$card-spacer-x: 2.625rem;

// Badges
$badge-font-size: 1.125rem;
$badge-font-weight: $font-weight-bold;
$badge-padding-y: .42em;
$badge-border-radius: 17px;

$badge-pill-padding-x: 1.4em;
$badge-pill-border-radius: 0.9444rem;

// Forms
$input-line-height: 1.44;
$input-color: $audicus-dark;
$input-border-color: $audicus-light;
$input-padding-y: 0.5625rem;
$input-padding-x: 0.875rem;
$input-border-radius: 2px;
$form-group-margin-bottom: 2.1875rem;
$input-disabled-bg: $audicus-white;
$input-placeholder-color: $audicus-dark;
$input-focus-box-shadow: transparent;
$input-focus-border-color: $audicus-light;
$input-focus-bg: transparent;

// down
$dropdown-min-width: 14.375rem;
$dropdown-border-radius: 2px;
$dropdown-border-width: 0;
$dropdown-box-shadow: 0 4px 4px rgba($audicus-light, 0.36);
$dropdown-link-color: $audicus-dark;
$dropdown-link-hover-color: $audicus-blue;
$dropdown-link-hover-bg: #f3f3f4;
$dropdown-link-active-color: $audicus-dark;
$dropdown-link-active-bg: $audicus-white;
$dropdown-padding-y: 0.75rem;

//tabs
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-color: $audicus-dark;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: #96e02d;

//progress
$progress-bg: #f3f3f4;
$progress-border-radius: 2px;
$progress-box-shadow: none;

// Tables
$table-cell-padding: .46rem;
$table-bg: transparent !default;
$table-accent-bg: $audicus-white;
$table-border-width: 0;
$table-head-bg: transparent;
$table-head-color: $audicus-mid;
