$ht-breadcrumb-icon-size: 28px;
$ht-breadcrumb-icon-bg: #f6f6f7;
$ht-breadcrumb-complete-color: $color-green;
$ht-breadcrumb-line-color: #e5e5f3;

.ht-breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $ht-breadcrumb-line-color;
        position: absolute;
        top: $ht-breadcrumb-icon-size / 2;
        left: 0;
        z-index: 1;
    }

    &-item {
        position: relative;
        margin: 0;

        &-complete {
            .ht-breadcrumb-icon {
                fill: $ht-breadcrumb-complete-color;
            }
            a {
                color: $color-dark;
            }
        }

        > a {
            display: block;
            position: relative;
            z-index: 3;
        }
    }

    &-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: $ht-breadcrumb-icon-size;
        height: $ht-breadcrumb-icon-size;
        border-radius: 50%;
        background-color: $ht-breadcrumb-icon-bg;
        border: 1px solid $ht-breadcrumb-line-color;

        .icon {
            display: flex;
            align-items: center;
        }

        svg {
            width: 12px;
        }
    }

    &-label {
        width: 100%;
        margin-top: 1rem;
        font-size: rem-calc(14);
    }

    &-active-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $color-blue;
        border-radius: 50%;
    }
}
